body {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 2;
    padding: 0;
    color: #00416a;
    text-shadow: 2px 2px #f0ead6;
    background-color: #b6c5b8;
}

#header {
  font-size: 4em;
  letter-spacing: .3em;
  margin-bottom: 10px;
}

/* general buttons */
button {
  border-radius: 6px 6px;
  margin-left: 1em;
  margin-bottom: 2em;
}

/* the city buttons */
#city {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    padding: 5px;
    margin: 10px;
    border-radius: 5px 5px;
    color: #71684A;
}

/* when you hover over any button */
button:hover {
  box-shadow: 
  inset 0em -.1em .1em #a8a085, 
        .1em .1em .1em #a8a085;
}

/* the city title on the city page */
h2 {
  color: #e34f4f;
  font-size: 3em;
  text-shadow: 3px 3px white;
}

/* the main container's headers */
h3 {
  color: #78364f;
}

/* the city page's page headers */
h4 {
  text-align: left;
  margin-left: 5em;
  text-decoration: underline;
  text-shadow: none;
}

/* the main container */
.outerBox {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.innerbox {
  background: #f0ead6;
  padding: 2em;
  width: 90vw;
  box-shadow: 1px 1px 1px 1px rgb(180, 175, 175);
}

.createCity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background: #f0ead6;
  width: 95%;
  margin: 0;
  box-shadow: 1px 1px 1px 1px rgb(180, 175, 175);
}

.createCityText {
  font-size: 2em;
  margin: 1em;
}

.input {
  width: 35vw;
  height: 5vh;
  margin-left: 1em;
}

.submit {
  font-size: 1.25em;
}

ul {
  list-style-type: circle;
  text-align: left;
  margin-left: 4em;
  margin-right: 1em;
  color: #4d4d00;
}